.project-info-wrapper{
  margin-top: 20px;
  margin-bottom: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 150px;
  min-width: 100%;
  background-color:var(--accent-color);
}
.project-info-unit{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding-bottom: 20px;
}
.project-info-heading{
font-size: 2rem;
}
.project-info-text{
  font-size: 1rem;
}
@media screen and (min-width: 576px){
  
}